<form action='/add' method='post'>
	<p>titulo</p>
	<input type="text" name="titulo">
	<p>Conteudo:</p>
	<textarea name='conteudo'></textarea><br/><br/>
	<button type="submit">Cadastrar</button>
</form>