<h1>Lista de Posts</h1>
{{#each posts}}
	<small>{{createdAt}}</small>
	<h1>{{titulo}}</h1>
	<p>{{conteudo}}</p>
	<a href="/deletar/{{id}}">
	<button style="background:red;color:#fff;cursor:pointer;">Apagar</button>
	</a>
	<hr/>
{{/each}}
